<html>
<head>
    <title>Phone Shop</title>
    <link href="/assets/all.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/sb-admin-2.min.css" rel="stylesheet">
    <link href="/assets/dataTables.bootstrap4.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
    <script src="/assets/jquery.min.js"></script>
    <script src="/assets/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/toast/jquery.toast.min.js"></script>
    <link rel="stylesheet" href="/assets/toast/jquery.toast.min.css">
    <link rel="stylesheet" href="/assets/custom-style.css">
    <script src="/assets/utils/appUtils.js"></script>

</head>
<body id="page-top">
<div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a style="cursor: pointer" class="sidebar-brand d-flex align-items-center justify-content-center" onclick="backHome()">
            <div class="sidebar-brand-icon">
                <i class="fas fa-home"></i>
            </div>
            <div class="sidebar-brand-text mx-3">SHOPPING</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item">
            <a class="nav-link" href="/cart">
                <i class="fas fa-users-cog"></i>
                <span>Cart</span></a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="/orders" aria-expanded="true">
                <i class="fas fa-fw fa-table"></i>
                <span>Order Management</span>
            </a>
        </li>
        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>
    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">
                    <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                    <li class="nav-item dropdown no-arrow d-sm-none">
                        <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-search fa-fw"></i>
                        </a>
                        <!-- Dropdown - Messages -->
                        <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                             aria-labelledby="searchDropdown">
                            <form class="form-inline mr-auto w-100 navbar-search">
                                <div class="input-group">
                                    <input type="text" class="form-control bg-light border-0 small"
                                           placeholder="Search for..." aria-label="Search"
                                           aria-describedby="basic-addon2">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="button">
                                            <i class="fas fa-search fa-sm"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </li>

                    <!-- Nav Item - User Information -->
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="mr-2 d-none d-lg-inline text-gray-600 small" id="userNameCurrent" th:text="${username}"></span>
                            <span hidden id="userIdSession" th:text="${userId}"></span>
                            <img class="img-profile rounded-circle"
                                 src="/assets/undraw_profile_2.svg">
                        </a>
                        <!-- Dropdown - User Information -->
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                             aria-labelledby="userDropdown">
                            <a class="dropdown-item" href="/shopping?action=profile">
                                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                Profile
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="" data-toggle="modal" data-target="#logoutModal">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                Logout
                            </a>
                        </div>
                    </li>

                </ul>

            </nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">Cart</h1>
                </div>

                <!-- Content Row -->
                <div class="row">

                    <!-- Earnings (Monthly) Card Example -->
                    <!-- Earnings (Monthly) Card Example -->
                    <!-- Earnings (Monthly) Card Example -->
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->
            <div class="card-header py-3" style="display: flex; justify-content: space-between">
                <h6 class="m-0 font-weight-bold text-primary">Cart</h6>
            </div>
            <form>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th hidden></th>
                                <th>Product</th>
                                <th hidden></th>
                                <th>Image</th>
                                <th>Price (USD)</th>
                                <th>Quantity</th>
                                <th>Total value (USD)</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody id="dataCart">
                            <tr>
                                <td hidden></td>
                                <td hidden></td>
                                <td colspan="4" style="font-weight: bold; text-align: center; color: red">Total Amount</td>
                                <td id="total_amount" colspan="2"></td>
                            </tr>
                            </tbody>
                        </table>
                        <div>
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                    data-bs-target="#modalCreate">
                                <i class="far fa-plus-square"></i>
                                Buy Product
                            </button>
                            <button type="button" class="btn btn-outline-danger" onclick="backHome()" >
                                <i class="far fa-plus-square"></i>Cancel</button>
                        </div>
                    </div>
                </div>
            </form>
            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>---------  Website Design by Huy - Long - Thắng Team  ---------</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
    <th:block th:replace="/user/layoutOder/layoutCreate"/>
    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="/login?action=logout">Logout</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script>


    const page = {
        url: {
            getAllProvinces: 'https://vapi.vnappmob.com/api/province/',
            getAllDistrictsByProvinceId: 'https://vapi.vnappmob.com/api/province/district/',
            getAllWardsByDistrictId: 'https://vapi.vnappmob.com/api/province/ward/',
        },
        elements: {},
        loadData: {},
        commands: {}
    }

    page.elements.modalCreate = $('#modalCreate');
    page.elements.frmCreate = $('#frmCreate');
    page.elements.fullNameCre = $('#fullNameCre');
    page.elements.emailCre = $('#emailCre');
    page.elements.phoneCre = $('#phoneCre');
    page.elements.provinceCre = $('#provinceCre');
    page.elements.districtCre = $('#districtCre');
    page.elements.wardCre = $('#wardCre');
    page.elements.addressCre = $('#addressCre');
    page.elements.btnCreate = $('#btnCreate');

    page.elements.modalUpdate = $('#modalUpdate');
    page.elements.frmUpdate = $('#frmUpdate');
    page.elements.fullNameUp = $('#fullNameUp');
    page.elements.emailUp = $('#emailUp');
    page.elements.phoneUp = $('#phoneUp');
    page.elements.provinceUp = $('#provinceUp');
    page.elements.districtUp = $('#districtUp');
    page.elements.wardUp = $('#wardUp');
    page.elements.addressUp = $('#addressUp');
    page.elements.btnUpdate = $('#btnUpdate');

    page.elements.modalTransfer = $('#modalTransfer');
    page.elements.frmTransfer = $('#frmTransfer');
    page.elements.senderNameTrf = $('#senderNameTrf');
    page.elements.senderPhoneTrf = $('#senderPhoneTrf');
    page.elements.senderBalanceTrf = $('#senderBalanceTrf');
    page.elements.recipientTrf = $('#recipientTrf');
    page.elements.transferAmountTrf = $('#transferAmountTrf');
    page.elements.transactionAmountTrf = $('#transactionAmountTrf');
    page.elements.btnTransfer = $('#btnTransfer');

    page.elements.bodyCustomer = $('#tbCustomer tbody')
    page.elements.footer = $('footer')

    page.elements.loading = $('#loading');

    page.elements.toastLive = $('#liveToast')
    page.elements.toastBody = $('#toast-body')
    page.elements.btnCloseToast = $('#btnCloseToast')
    page.elements.btnCancel = $('#cancel');
    page.elements.totalAmounts = $('#total_amount')

    const idUser = parseInt(document.getElementById('userIdSession').innerText);
    async function fetchUserById() {
        return await $.ajax({
            url: "http://localhost:8080/api/user/" + idUser
        })
    }

    const strFootTB = `<tr>
                                <td hidden></td>
                                <td hidden></td>
                                <td colspan="4" style="font-weight: bold; text-align: center; color: red">Total Amount</td>
                                <td id="total_amount" colspan="2"></td>
                            </tr>`
    async function fetchALlCartByUser() {
        return await $.ajax({
            url: "http://localhost:8080/api/cart/" + idUser
        })
    }

    page.loadData.showCart = async () => {
        const cartsList = await fetchALlCartByUser();
        const userCurrent = await fetchUserById();
        console.log(userCurrent.username);
        cartsList.forEach(item => {
            const str = page.commands.renderCart(item)
            $('#dataCart').prepend(str);
        });
        updateTotalAmountChosen();

    }
    function backHome(){
        saveCart();
        window.location.href = "http://localhost:8080/home";
    }
    page.elements.btnCancel.on( () =>{
        saveCart();
        window.location.href = "http://localhost:8080/home";
    })
    page.elements.modalCreate.on('hidden.bs.modal', () => {
        saveCart();
        $('#modalCreate .area-error').empty().addClass('hide');
        $('#frmCreate').trigger('reset')
        $('#frmCreate input').removeClass('error')
        $('#frmCreate label.error').remove()
    })
    async function deleteCD(idCartDetail){
        await $.ajax(
            {   headers: {
                    "Content-type": "application/json; charset=UTF-8"
                },
                method: 'DELETE',
                url: "http://localhost:8080/api/cart/delete/" +idCartDetail,
            }
        ).done((data) => {
            AppUtils.showSuccess('Delete successfully!!')
            $('#dataCart').empty();
            $('#dataCart').prepend(strFootTB);
            page.loadData.showCart();
            saveCart()
        }).fail((err) => {
            AppUtils.showError('Delete fail!!');
        })
    }
    async function updateCartDetail(obj){
        await $.ajax(
            {   headers: {
                    "Content-type": "application/json; charset=UTF-8"
                },
                method: 'PATCH',
                url: "http://localhost:8080/api/cart/updateCart",
                data: JSON.stringify(obj)
            })
    }

    function saveCart(){
        var cartDTList =  document.querySelectorAll('.cartDetailData');
        cartDTList.forEach(function (item) {
            var row = item.closest('tr');
            var idCartDTElement = row.querySelector('td[name="cartDTId"]');
            var quantityInput = row.querySelector('input[name="quantities"]');
            var id = parseInt(idCartDTElement.innerText);
            var quantity = parseInt(quantityInput.value);
            const cartDTUpdate = {
                id,
                quantity
            }
            updateCartDetail(cartDTUpdate)})
        console.log("SAVE CART SUCCESS!")
    }
    function backHome(){
        saveCart();
        window.location.href = "http://localhost:8080/home";
    }
    page.commands.renderCart = (cartDetail) => {
        return `<tr class="cartDetailData">
                                    <td hidden><input type="hidden" name="cartChecked" value="${cartDetail.checked}">
                                    </td>
                                    <td>${cartDetail.product.productName}</td>
                                    <td hidden name="cartDTId">${cartDetail.id}</td>
                                    <td><img src="${cartDetail.product.image.fileUrl}" style="width: 145px" /></td>
                                    <td>${cartDetail.product.price}</td>
                                    <td><input  class="qtyCD" style="max-width: 50px" type="number" value="${cartDetail.quantity}" min="1" max="${cartDetail.product.quantity}"
                                               id="myInput" onchange="adjustValue()" onmouseout="adjustValue()" name="quantities"
                                               oninput="updateTotalAmount(${cartDetail.product.price}, this.value,${cartDetail.id})"></td>
                                    <td  name="carttDTPrice" class="cartDTPrice" id="totalAmount_${cartDetail.id}">${cartDetail.totalAmount}</td>
                                    </td>
                                    <td>
                                        <a class="btn btn-danger" onclick="deleteCD(${cartDetail.id})" >Delete</a>
                                    </td>
                                </tr>`
    }
    page.elements.modalCreate.on('hidden.bs.modal', () => {
        $('#modalCreate .area-error').empty().addClass('hide');
        $('#frmCreate').trigger('reset')
        $('#frmCreate input').removeClass('error')
        $('#frmCreate label.error').remove()
    })

    function setActionCancel(action) {
        document.getElementById('cartForm').action = action;
        document.getElementById('cartForm').submit();
    }

    function adjustValue() {
        var inputElement = document.getElementById("myInput");
        var value = parseFloat(inputElement.value);
        var min = parseFloat(inputElement.getAttribute("min"));
        var max = parseFloat(inputElement.getAttribute("max"));

        if (isNaN(value) || value < min|| value%1 !==0) {
            inputElement.value = min;
        } else if (value > max) {
            inputElement.value = max;
        }
        updateTotalAmountChosen();
    }

    function updateTotalAmount(price, quantity, link) {
        var totalAmountElement = document.getElementById("totalAmount_" + link);
        var totalAmount = price * quantity;
        totalAmountElement.innerText = totalAmount;
    }

    // Lắng nghe sự kiện khi giá trị số lượng thay đổi
    document.querySelectorAll('input[name="quantities"]').forEach(function (quantityInput) {
        quantityInput.addEventListener('change', function () {
            updateTotalAmountChosen();
        });
    });

    // Hàm cập nhật giá trị tổng
    function updateTotalAmountChosen() {
        var totalAmount = 0.0;
        var cartDTPrices = document.querySelectorAll('.cartDTPrice');
        cartDTPrices.forEach(item => {
            const cartPriceDetail = parseInt(item.textContent);
            totalAmount += cartPriceDetail;
        });

        document.getElementById('total_amount').innerText = totalAmount;
    }

    document.addEventListener('DOMContentLoaded', function () {
        updateTotalAmountChosen();
    });
    page.elements.btnCreate.on('click', async () => {
        page.elements.frmCreate.trigger('submit')
    })
    page.elements.frmCreate.validate({
        onkeyup: function(element) {$(element).valid()},
        onclick: false,
        onfocusout: false,
        rules: {
            fullNameCre: {
                required: true
            },
            addressCre: {
                required: true
            },
            phoneCre: {
                required: true
            }
        },
        messages: {
            fullNameCre: {
                required: 'FullName is required'
            },
            addressCre: {
                required: 'Address is required'
            },
            phoneCre: {
                required: 'Phone is required'
            }
        },
        errorLabelContainer: "#modalCreate .area-error",
        errorPlacement: function (error, element) {
            error.appendTo("#modalCreate .area-error");
        },
        showErrors: function(errorMap, errorList) {
            if (this.numberOfInvalids() > 0) {
                $("#modalCreate .area-error").removeClass("hide").addClass("show");
            } else {
                $("#modalCreate .area-error").removeClass("show").addClass("hide").empty();
                $("#frmCreate input.error").removeClass("error");
            }
            this.defaultShowErrors();
        },
        submitHandler: () => {
            page.commands.createOder()
        }
    })

    page.commands.createOder = () => {
        const provinceId = page.elements.provinceCre.val()
        const provinceName = page.elements.provinceCre.find('option:selected').text()
        const districtId = page.elements.districtCre.val()
        const districtName = page.elements.districtCre.find('option:selected').text()
        const wardId = page.elements.wardCre.val()
        const wardName = page.elements.wardCre.find('option:selected').text()
        const address = page.elements.addressCre.val()

        const locationRegionCreDTO = {
            provinceId,
            provinceName,
            districtId,
            districtName,
            wardId,
            wardName,
            address
        }

        const receiverName = page.elements.fullNameCre.val()
        const phone = page.elements.phoneCre.val()
        const totalAmount = parseInt(document.getElementById('total_amount').innerText)
        const oderCreateDTO = {
            totalAmount,
            receiverName,
            phone,
            locationRegionCreDTO
        }
        console.log(oderCreateDTO);
        page.elements.btnCreate.prop("disabled", true);
        $.ajax(
            {
                headers: {
                    "Content-type": "application/json; charset=UTF-8"
                },
                method: 'POST',
                url: "http://localhost:8080/api/orders/create",
                data: JSON.stringify(oderCreateDTO)
            }
        )
            .done(() => {

                page.elements.modalCreate.modal('hide');

                AppUtils.showSuccess('Successfully!!');

            }).fail((err) =>{
            AppUtils.showSuccess('Unsuccessfully!!');
        })
            .always(() => {
                page.elements.btnCreate.prop("disabled", false);
                // page.elements.loading.addClass('hide')
                backHome();
            });
    }


    page.commands.getAllProvinces = async () => {
        await $.ajax({
            url: page.url.getAllProvinces
        })
            .done((data) => {
                const provinces = data.results;

                $.each(provinces, (index, item) => {
                    const str = `<option value="${item.province_id}">${item.province_name}</option>`

                    page.elements.provinceCre.append(str)
                    page.elements.provinceUp.append(str)
                })
            })
    }

    page.commands.getAllDistricts = async (provinceId, elem) => {
        await $.ajax({
            url: page.url.getAllDistrictsByProvinceId + provinceId
        })
            .done((data) => {
                $(elem).empty();

                const districts = data.results;

                $.each(districts, (index, item) => {
                    const str = `<option value="${item.district_id}">${item.district_name}</option>`

                    $(elem).append(str)
                })
            })
    }

    page.commands.getAllWards = (districtId, elem) => {
        $.ajax({
            url: page.url.getAllWardsByDistrictId + districtId
        })
            .done((data) => {
                $(elem).empty();

                const wards = data.results;

                $.each(wards, (index, item) => {
                    const str = `<option value="${item.ward_id}">${item.ward_name}</option>`

                    $(elem).append(str)
                })
            })
    }

    page.elements.provinceCre.on('change', async function () {
        const provinceId = $(this).val()

        await page.commands.getAllDistricts(provinceId, page.elements.districtCre);

        const districtId = page.elements.districtCre.find('option:selected').val()

        page.commands.getAllWards(districtId, page.elements.wardCre)

    })

    page.elements.provinceUp.on('change', async function () {
        const provinceId = $(this).val()

        await page.commands.getAllDistricts(provinceId, page.elements.districtUp);

        const districtId = page.elements.districtUp.find('option:selected').val()

        page.commands.getAllWards(districtId, page.elements.wardUp)
    })

    page.elements.districtCre.on('change',  function () {
        const districtId = $(this).val()

        page.commands.getAllWards(districtId, page.elements.wardCre)
    })

    page.elements.districtUp.on('change',  function () {
        const districtId = $(this).val()

        page.commands.getAllWards(districtId, page.elements.wardUp)
    })
    $.ajaxSetup({
        headers: {
            "Content-type": "application/json; charset=UTF-8"
        }
    })
    $(async () => {
        await page.loadData.showCart();
        await page.commands.getAllProvinces();

        const provinceId = page.elements.provinceCre.find('option:selected').val()

        await page.commands.getAllDistricts(provinceId, page.elements.districtCre);

        const districtId = page.elements.districtCre.find('option:selected').val()

        page.commands.getAllWards(districtId, page.elements.wardCre)
    });

</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="/assets/jquery.min.js"></script>
<script src="/assets/bootstrap.bundle.js"></script>
<script src="/assets/jquery.easing.min.js"></script>
<script src="/assets/sb-admin-2.min.js"></script>
<script src="/assets/toast/jquery.toast.min.js"></script>
</body>
</html>
