<th:block th:fragment="modalConfirm">
    <div class="modal fade" id="modalConfirm" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="area-error hide">
                    </div>
                    <form id="frmConfirm" method="post">
                        <div class="row mb-3 mt-3">
                           <h1 class="modal-title fs-7"> ORDER INFORMATION </h1>
                        </div>
                        <div class="row mb-3">
                            <div class="col-lg-3">
                                <label for="shippingCodeConfirm" class="form-label">Shipping code</label>
                                <input type="text" class="form-control" id="shippingCodeConfirm" name="shippingCodeConfirm" disabled >
                            </div>
                            <div class="col-lg-3">
                                <label for="orderDateConfirm" class="form-label">Order Date</label>
                                <input type="text" class="form-control" id="orderDateConfirm" name="orderDateConfirm"  disabled >
                            </div>
                            <div class="col-lg-3">
                                <label for="usernameConfirm" class="form-label">Username</label>
                                <input type="text" class="form-control" id="usernameConfirm" name="usernameConfirm"  disabled >
                            </div>
                            <div class="col-lg-3">
                                <label for="totalAmountConfirm" class="form-label">Total amount</label>
                                <input type="text" class="form-control" id="totalAmountConfirm" name="totalAmountConfirm" disabled>
                            </div>
                        </div>
                        <div class="row mb-3 mt-3">
                            <h1 class="modal-title fs-7"> RECEIVER INFORMATION </h1>
                        </div>
                        <div class="row mb-3 mt-3">
                            <div class="col-lg-4">
                                <label for="receiverNameConfirm" class="form-label">Receiver Name</label>
                                <input type="text" class="form-control" id="receiverNameConfirm" name="receiverNameConfirm" disabled>
                            </div>
                            <div class="col-lg-4">
                                <label for="emailConfirm" class="form-label">Receiver's email</label>
                                <input type="text" class="form-control" id="emailConfirm" name="emailConfirm" disabled>
                            </div>
                            <div class="col-lg-4">
                                <label for="phoneConfirm" class="form-label">Receiver's phone</label>
                                <input type="text" class="form-control" id="phoneConfirm" name="phoneConfirm" disabled>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-lg-3">
                                <label for="provinceNameConfirm" class="form-label">Province</label>
                                <input type="text" class="form-control" id="provinceNameConfirm" name="provinceNameConfirm" disabled >
                            </div>
                            <div class="col-lg-3">
                                <label for="districtNameConfirm" class="form-label">District</label>
                                <input type="text" class="form-control" id="districtNameConfirm" name="districtNameConfirm" disabled>
                            </div>
                            <div class="col-lg-3">
                                <label for="wardNameConfirm" class="form-label">Ward</label>
                                <input type="text" class="form-control" id="wardNameConfirm"  name="wardNameConfirm"disabled>
                            </div>
                            <div class="col-lg-3">
                                <label for="addressConfirm" class="form-label">Address</label>
                                <input type="text" class="form-control" id="addressConfirm"  name="addressConfirm" disabled>
                            </div>
                        </div>
                        <div class="row mb-3 mt-3">
                            <h1 class="modal-title fs-7"> ORDER DETAILS </h1>
                        </div>
                        <div id="orderDetail">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-outline-success" id="btnConfirm">
                        <i class="fas fa-check"></i>
                        CONFIRM
                    </button>
                    <button type="submit" class="btn btn-outline-danger" id="btnCancel">
                        <i class="fas fa-ban"></i>
                        CANCEL
                    </button>
                </div>
            </div>
        </div>
    </div>
</th:block>