<th:block th:fragment="modalInfo">
    <div class="modal fade" id="modalInfo" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">Modal info</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="area-error hide">
                    </div>
                    <form id="frmInfo" method="post">
                        <div class="row mb-3 mt-3">
                            <div class="col-lg-4">
                                <label for="codeInfo" class="form-label">Import Code</label>
                                <input type="text" class="form-control" id="codeInfo" name="codeInfo" disabled>
                            </div>
                            <div class="col-lg-4">
                                <label for="importDateInfo" class="form-label">Import Date</label>
                                <input type="text" class="form-control" id="importDateInfo" name="importDateInfo" disabled>
                            </div>
                            <div class="col-lg-4">
                                <label for="totalAmountInfo" class="form-label">Total amount</label>
                                <input type="text" class="form-control" id="totalAmountInfo" name="totalAmountInfo" disabled>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-lg-6">
                                Product
                            </div>
                            <div class="col-lg-6">
                                Quantity
                            </div>
                        </div>
                        <div id = "productImportDetailInfo">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</th:block>